
body {
  margin: 0;
  background-color: #000;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.game-wrapper {
  position: relative;
  width: 300px;
  height: 600px;
  background-image: url('assets/hyperdrop_background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#nextPieceBox {
  position: absolute;
  top: 5px;
  left: 5px;
  color: white;
  text-align: left;
  z-index: 2;
  background: rgba(0,0,0,0.6);
  padding: 5px;
  border-radius: 4px;
}

#nextCanvas {
  border: 1px solid white;
  background: #000;
}
