
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000;
  color: #fff;
}
canvas {
  display: block;
  margin: auto;
  background-image: url('assets/hyperdrop_background.png');
  background-size: cover;
}
.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(10, 10, 20, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  z-index: 9999;
}
.hidden {
  display: none;
}
#playerName {
  font-size: 18px;
  padding: 10px;
  margin: 10px;
}
